body{
    background-color:blueviolet;
    text-align: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:40px;
    font-style: italic;
}
.form-group{
padding-left:10px;
border-radius:20px;
margin-left:500px;
margin-right:500px;
height:200px;
width:260px;
background-image:url(decorative-border.jpg);
}
#input_name{
    background-color: aliceblue;
    border-radius:9px;
    width:190px;
    height:30px;
}
#login_button{
    color:white;
    background-color:rgb(12, 153, 153);
    height: 30px;
    width: 250px;
    border-color:rgb(12, 153, 153);
    box-shadow: black;
    border-radius:20px;
}
#label_login{
    font-size:17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}